<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test Template</title>
  <link rel="stylesheet" href="./styles/main.css">
  <style>
    @font-face{
        font-family: 'DINCond-Black';
        src : url('./fonts/DINCond-Black.otf');
    }

    * {
        font-family: 'DINCond-Black';
    }

    .qrcode {
      width: 70px;
      height: 70px;
      background-color: white;
      float: left;
    }
    .mark {
      float: right;
    }
  </style>
</head>
<body>
  <div class="bg-blue pt-12 pb-4" style="width: 375px; height: 718px;">
    <h2 class="text-white px-4">各色小助手</h2>
    <div class="bg-white shadow rounded m-4 py-8">
      <div class="border-l-8 border-blue flex items-center justify-between">
        <div class="text-blue px-2">
          <h1 style="font-size: 4rem;">50.12<span style="font-size: 3rem;">%</span></h1>
          <p>中国华北地区</p>
        </div>

        <!--地区画像-->
        <div class="w-24 h-24 p-2 mr-2 rounded-full bg-white float-right flex items-center justify-center shadow">
          <img src="./images/394.png" alt="" class="w-24 rounded-full">
        </div>
      </div>
      <div class="pt-3 leading-tight pl-4">
          <span class="tag">蒙古人种</span>
          <span class="tag">牛羊肉</span>
          <span class="tag">鼻子窄</span>
          <span class="tag">西藏</span>
          <span class="tag">松赞干布</span>
          <span class="tag">牛羊肉</span>
        </div>
      <div class="leading-normal px-4 py-2 text-grey-dark text-xs">
        4000多年前，你的祖先在西藏雅鲁藏布江，祖源百分比数据调用规则：调用用户祖源祖源百分比数据调用规则：调用用户祖源祖源百分比数据调用规则：调用用户祖源
      </div>

      <div class="text-grey-dark px-4 pt-2">
      <% locations.forEach(function(location, index){ %>
        <div class="flex items-center my-2">
          <div class="w-2/5">
            <div class="flex items-center">
              <span class="px-1 text-white text-center" style="background-color: <%= location.color %>"><%= index + 1 %></span>
              <h5 class="inline mx-2 whitespace-no-wrap"><%= location.name %></h5>
            </div>
          
          </div>
          <div class="w-2/5">
            <svg width="120" height="20" viewBox="0 0 120 20">
              <rect x="0" y="5" width="<%= (location.percent * 200).toFixed(2) %>" height="12" rx="5" ry="5" fill="<%= location.color %>"/>
            </svg>
          </div>
          <div class="w-1/5">
            <div class="text-sm whitespace-no-wrap flex justify-between items-center">
              <%= (location.percent * 100).toFixed(2) %>%
            </div>
          </div>
        </div>
        <% }); %>
      </div>

    </div>

    <div class="mx-8 mt-6 relative">
      <div class="qrcode absolute pin-l"></div>
  
      <div class="absolute pin-r inline-block text-xs text-white text-center">
        <div class="mb-2">
          <img src="./images/gese_logo.svg" alt="">
        </div>
        <p>用科学定义独一无二的你</p>
        <p>gesedna.com</p>
      </div>
  
    </div>
  </div>
</body>
</html>
