<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Template</title>
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="./styles/main.css">
    <style>
        .qrcode {
            width: 70px;
            height: 70px;
            background-color: white;
        }
        .bottom {
            height: 18px;
            width: 150px;
            background-size: cover;
        }
        .left {
            background: url('./images/left_bottom.svg') no-repeat bottom;
        }
        .right {
            background: url('./images/right_bottom.svg') no-repeat bottom;
        }
        .middle {
            width: 0;
            height: 100%;
            left: 50%;
            border-width: 0.5px;
        }
    </style>
</head>
<body>
<div class="bg-blue py-6" style="width: 375px; height: 718px;">
    <div class="px-4 pt-2">
        <div class="flex items-center">
            <div class="w-2/3">
                <div class="text-white text-4xl mb-4 font-han-600">
                    DARk Liu
                </div>
                <!--<p class="text-grey-lighter text-xs">第999,99位好奇心用户</p>-->
            </div>
            <div class="w-1/3 z-10">
                <div class="w-24 h-24 p-2 mr-2 rounded-full bg-white float-right flex items-center justify-center shadow">
                    <img src="./images/394.png" alt="" class="w-24 rounded-full">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white shadow rounded-lg m-4 -mt-4 relative">
        <div class="relative">
            <div class="flex">
                <div class="w-1/2">
                    <div class="pt-2 pl-4 leading-normal">
                        <div class="clearfix">
                            <span class="text-blue f-bold text-sm font-han-600">基因</span>
                            <span class="w-4 h-4 rounded-full text-white text-center text-2xs bg-blue inline-block float-right mr-2 leading-normal f-normal">
                稀
              </span>
                        </div>

                        <div class="text-blue font-bold text-2xl font-han-600">热爱刺激</div>
                        <div class="text-grey-dark font-han-300 text-sm h-5">5.08%同类客户</div>
                        <div class="bottom left"></div>
                    </div>
                </div>

                <div class="w-1/2">
                    <div class="pt-2 px-4 leading-normal">
                        <div class="text-orange font-bold text-sm font-han-600">现状</div>
                        <div class="text-orange font-bold text-2xl font-han-600">不爱刺激</div>
                        <div class="h-5"></div>
                        <div class="bottom right"></div>
                    </div>

                </div>

            </div>
            <div class="absolute pin-y border-grey-light middle"></div>
        </div>


        <div class="leading-normal px-4 pt-4">
            <p class="text-xl my-6 text-grey-darker mt-4 font-han-600">
                爱刺激程度
            </p>

            <p class="text-grey-dark text-sm leading-loose font-han-400">
                你的祖先在西藏雅鲁藏布江，祖源百分比数据调用规则：调用用户祖源祖源。祖源百分比数据调用规则：调用用户祖源祖源。
                <br><br>
                你的祖先在西藏雅鲁藏布江，祖源百分比数据调用规则：调用用户祖源祖源。
            </p>
        </div>
        <div class="px-4 py-4">
                <div class="flex justify-between">
                    <div class="flex items-baseline">
                        <img src="./images/fire_blue.svg" alt="" class="inline-block w-8 h-8">
                        <div class="inline-block text-blue text-2xs font-han-600">爱刺激</div>
                    </div>
                    <div class="flex justify-end items-baseline text-blue">
                        <div class="px-2 text-3xl font-db">=</div>
                        <div class="text-3xl font-db">40</div>
                        <div class="text-xl font-db">%</div>
                        <div class="pl-1 text-2xs font-han-600">基因</div>
                        <div class="px-2 text-3xl font-db">+</div>
                        <div class="text-3xl font-db">60</div>
                        <div class="text-xl font-db">%</div>
                        <div class="pl-1 text-2xs font-han-600">生活经历</div>
                    </div>

                </div>
        </div>

    </div>
    <!-- 为了解决phantom对flex支持不足的问题 -->
    <div class="mx-8 mt-6 relative">
            <div class="qrcode absolute pin-l"></div>
            
            <div class="absolute pin-r">
                <div class="align-middle text-white text-center font-han-300 text-2xs py-1">
                    <img src="./images/gese_logo.svg" alt="" class="h-5 mb-2">
                    <p>用科学定义独一无二的你</p>
                    <p>gesedna.com</p>
                </div>
            </div>
            
          </div>

<!-- 如果支持flex下面的显示会更好 -->
    <!-- <div class="mx-8 mt-6">
        <div class="flex justify-between items-center">
            <div class="qrcode text-center text-blue text-xs">二维码</div>

            <div class="text-white text-center font-han-300 text-xs">
                <img src="./images/gese_logo.svg" alt="" class="w-32 mb-2">
                <p>用科学定义独一无二的你</p>
                <p>gesedna.com</p>
            </div>
        </div>
    </div> -->
    

</div>
</body>
</html>